@model IEnumerable<Stringz.Models.Engineer>
@using Stringz.Models

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/SillyStringz.styles.css" asp-append-version="true" />
    <title>Engineers</title>
</head>
<body>
    <h2>Engineers</h2>

    @foreach (Engineer engineer in Model)
    {
        <div>
            <h3>@Html.DisplayFor(_ => engineer.Name)</h3>
            <p><strong>Associated Machines:</strong></p>
            <ul>
                @foreach (var joinEntity in engineer.JoinEntities)
                {
                    <li>@joinEntity.Machine.Name</li>
                }
            </ul>
            @Html.ActionLink("Edit", "Edit", new { id = engineer.EngineerId }, new { @class = "action-link" }) |
            @Html.ActionLink("Details", "Details", new { id = engineer.EngineerId }, new { @class = "action-link" })
        </div>
    }

    @Html.ActionLink("Add New Engineer", "Create", null, new { @class = "add-new-link" })

    <p>Machines:</p>
    @Html.ActionLink("View machine index", "Index", "Machines")
</body>
</html>
