@model IEnumerable<Stringz.Models.Machine>
@using Stringz.Models

<!DOCTYPE html>
<html>
<head>
    <title>Machines</title>
<link rel="stylesheet" href="~/css/SillyStringz.styles.css" asp-append-version="true" />
</head>
<body>
    <h2>Machines</h2>

    @foreach (Machine machine in Model)
    {
        <div>
            <h3>@Html.DisplayFor(modelItem => machine.Name)</h3>
            <p><strong>Associated Engineers:</strong></p>
            <ul>
                @foreach (var joinEntity in machine.Engineers)
                {
                    <li>@Html.DisplayFor(_ => joinEntity.Engineer.Name)</li>
                }
            </ul>
            @Html.ActionLink("Edit", "Edit", new { id = machine.MachineId }, new { @class = "action-link" }) |
            @Html.ActionLink("Details", "Details", new { id = machine.MachineId }, new { @class = "action-link" })
        </div>
    }

    @Html.ActionLink("Add New Machine", "Create", null, new { @class = "add-new-link" })

    <p>Engineers:</p>
    @Html.ActionLink("View engineer index", "Index", "Engineers")
</body>
</html>